<header class="layout-header">
    <mat-toolbar color="primary">
      <span class="app-title">Gerenciador de tarefas</span>
      <span class="spacer"></span>
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>
          settings
      </mat-icon>
    </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item color="primary" *ngIf="isManager()" [routerLink]="['/report']">Relatórios</button>
        <button mat-menu-item color="accent" (click)="logout()">Sair</button>
      </mat-menu>

    </mat-toolbar>
</header>

<app-breadcrumb></app-breadcrumb>
<main class="content">
<router-outlet></router-outlet>
</main>

<footer class="layout-footer">
<mat-toolbar color="primary">© 2025 - Todos os direitos reservados</mat-toolbar>
</footer>
  