::ng-deep .notifications-menu {
  width: 300px;
  padding: 10px 15px;
  min-width: 280px !important;

}

.notification-section {
  margin-bottom: 10px;
  padding: 10px;

  h4 {
    color: rgb(228, 166, 166);
  }
}

.notification-item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-top: 10px;
}

.notification-text {
  font-weight: 500;
  color: white;
}

.notification-time {
  font-size: 0.75rem;
  color: gray;
}


.notification-header {
  color: rgb(228, 166, 166);
  padding-left: 10px;

}